<%# 3ページ目 %>
<%# ヘッダー部分の呼び出し %>
<%= render "shared/header"%>

<%= form_with model: @person, url: people_path, class: 'registration-main', local: true do |f| %>

<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      会員情報入力
    </h1>
  </div>

  <%# エラー文が出るように、部分テンプレートを呼び出し %>
  <%= render "devise/shared/error_messages", resource: @person %> 

  <div class="form-group">
    <div class="form-text-wrap">
      アイコン写真
    </div>
    <div class="click-upload">
      <%= f.file_field :avatar, id:"icon-image" %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">身長(cm)</label>
    </div>
    <%= f.text_field :height, class:"input-default", id:"height", placeholder:"例) 170", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">体重(kg)</label>
    </div>
    <%= f.text_field :weight, class:"input-default", id:"weight", placeholder:"例) 65", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">目標体重(kg)</label>
    </div>
    <%= f.text_field :goal, class:"input-default", id:"goal", placeholder:"例) 60", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class="form-text-wrap">
      現在の状態写真
    </div>
    <div class="click-upload">
      <%= f.file_field :body, id:"body-image" %>
    </div>
  </div>
  <div class='register-btn'>
    <%# 会員登録ボタン %>
    <%= f.submit "会員登録" ,class:"register-red-btn" %>
  </div>
  
</div> <%# form-wrap %>
<% end %>

<%= render "devise/shared/links" %>