<header>
</header>

<h1>Tweets一覧</h1>
<center>
    <%# 検索フォームを設置 %>
    <%= form_with(url: "#", local: true, method: :get, class: "search-form") do |form| %>
    <input type="text" class="col-form-control" placeholder="ツイートを検索">
    <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <br>
    <%# ここから投稿内容表示・仮置きのため一時的に設置 %>
      <div class="content">
  <% @tweets.each do |tweet| %>
    <div class="box_content">
      <%= link_to tweet_path(tweet.id) do %>
        <%= tweet.text %>
        <%= image_tag tweet.image.variant(resize:'200x200') %>
      <% end %>
    </div>
  <% end %>
</div>
<%= link_to 'ホーム画面に戻る' ,root_path, class: "btn btn-primary btn-lg" %>
<%= link_to '新規投稿' ,new_tweet_path, class: "fixed_btn" %>
</center>

<footer>
</footer>