<%# ヘッダー  %>
<%= render "shared/header" %>
<%# / ヘッダー %>

<%# tweet内容表示 %>
<div class='contents'>
  <div class='article'>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <%= link_to '一覧に戻る', tweets_path, class: "btn btn-info back-button" %>
        </div>
        <div class="col-sm delete-button">
          <% if user_signed_in? %>
            <% if current_user.id == @tweet.user_id %>
              <%= link_to '削除', tweets_path(@tweet.id), method: :delete, class: "btn btn-danger", confirm: "削除しますか？" %>
            <% end %>
          <% end %>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
    <div class='tweet-image'>
      <%= image_tag @tweet.image, class:'tweet-pict', placeholder: "画像挿入できます" %>
    </div>
    <div class='tweet-box'>
      <div class='tweet-content'>
        <div class='tweet-header'>
          <%=link_to @tweet.user.name, user_path(@tweet.user_id), class: 'tweet-user'%>
            <% if @tweet.user.person.avatar.attached? %>
              <%= image_tag @tweet.user.person.avatar, class: "icon-pict" %>
            <% else %>
              <%= image_tag 'sample.png', class:"icon-pict" %>
            <% end %>
            <div class='tweet-date'><%= @tweet.created_at.year %>/<%= @tweet.created_at.month %>/<%= @tweet.created_at.day %></div>
        </div>
        <div class='training-title'><%= @tweet.title %></div>
        <div class='tweet-main'><%= @tweet.text %></div>
      </div>
    </div>
  </div>
<%# / tweet内容表示 %>

<%# コメント欄表示 %>
  <div class='comment-box'>
    <div class="comment-title">コメント一覧</div>
    <div class="comment-content">
      <% @comments.each do |comment| %>
        <div class="comment-header">
          <div class='comment-contributor'>
            <%= link_to comment.user.name, user_path(comment.user_id) %></div>
          <div class='comment-contributor-image'>
            <% if comment.user.person.avatar.attached? %>
              <%= image_tag comment.user.person.avatar, class: "icon-pict" %>
            <% else %>
              <%= image_tag 'sample.png', class:"icon-pict" %>
            <% end %>
          </div>
          <div class='comment-created-at'>
            <%= comment.created_at.year %>/<%= comment.created_at.month %>/<%= comment.created_at.day %>
          </div>
        </div>
        <p><%= simple_format(comment.text) %></p>
      <% end %>
    </div>
    <div class="comment-form">
    <%= form_with model: [@tweet, @comment], class: "comment-submit", local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <%= f.text_area :text, class: "comment-text", placeholder: "コメントする", rows: "2", required: true %>
      <%= f.submit '送信', class: "btn btn-info"%>
    <% end %>
    </div>
  </div>
</div>
<%# / コメント欄表示 %>

<div class='footer'></div>
