<header>
</header>

<h1>Success一覧</h1>
<center>
<%# ここから投稿内容表示・仮置きのため一時的に設置 %>
<div class="content">
  <% @successes.each do |success| %>
    <div class="box_content">
      <%= link_to success_path(success.id) do %>
        <%= success.title.truncate(13) %>
        <%= image_tag success.image.variant(resize:'200x200') %>
      <% end %>
    </div>
  <% end %>
</div>
<%= link_to 'ホーム画面に戻る' ,root_path, class: "btn btn-primary btn-lg" %>
<%= link_to '新規投稿' ,new_success_path, class: "fixed_btn" %>
</center>
<footer>
</footer>
