<div class='header'>
  <h1>Processes#show</h1>
</div>
<div class='contents'>
  <div class='article'>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <%= link_to '一覧に戻る','/processs', class: "btn btn-info back-button" %>
        </div>
        <div class="col-sm delete-button">
          <%# if user_signed_in? %>
            <%# if current_user.id == @process.user_id %>
              <%= link_to '削除','/processs', class: "btn btn-danger", confirm: "削除しますか？" %>
            <%# end %>
          <%# end %>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
    <div class='process-image'>
      <%= image_tag "sample.png", class:'process-pict', placeholder: "画像挿入できます" %>
    </div>
    <div class='process-box'>
      <div class='process-content'>
        <div class='process-header'>
          <%=link_to 'process投稿者', '#', class: 'process-user'%>
            <%# if process.user.image.attached? %>
              <%#= image_tag process.user.image, class: "icon-pict" %>
            <%# else %>
              <%= image_tag 'sample.png', class:"icon-pict" %>
            <%# end %>
            <div class='process-date'>投稿日時 <%#= l process.created_at %></div>
        </div>
        <div class='process-title'>Title</div>
        <div class='process-main'>process</div>
      </div>
    </div>
  </div>
  <div class='comment-box'>
    <div class="comment-title">コメント一覧</div>
    <div class="comment-content">
      <%# @comments.each do |comment| %>
        <div class="comment-header">
          <div class='comment-contributor'><%= link_to 'ユーザー名', "#" %></div>
          <div class='comment-contributor-image'>
            <%# if comment.user.image.attached? %>
              <%#= image_tag comment.user.image, class: "icon-pict" %>
            <%# else %>
              <%= image_tag 'sample.png', class:"icon-pict" %>
            <%# end %>
          </div>
          <div class='comment-created-at'>投稿日時 <%#= l comment.created_at %></div>
        </div>
        <p>コメント<%#= simple_format(comment.text) %></p>
      <%# end %>
    </div>
    <div class="comment-form">
    <%#= form_with model: [@process, @comment], url: "#", class: "comment-submit", local: true do |f| %>
      <%#= render 'shared/error_messages', model: f.object %>
      <%#= f.text_area :text, class: "comment-text", placeholder: "コメントする", rows: "2", required: true %>
      <input type="text" placeholder="コメントする">
      <%= link_to '送信', '#', class: "btn btn-info"%>
    <%# end %>
    </div>
  </div>
</div>
<div class='footer'></div>