<div class="record-new">
  <div class="record-left">
    <div class="record-calendar">
      <%= month_calendar checks: @checks do |date, checks| %>
        <%= date.day %>
        <% checks.each do |check| %>
          <div>
            <%= check.weight %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="record-graph">グラフ
    <%= line_chart @checks.group(:start_time).sum(:weight) %>
    </div>
  </div>
  <div class="record-right">
    <div class="record-title" >checks</div>
    <div class="record-form">
      <%= form_with model: @check, local: true do |form| %>
        <div class="record-data" >
          日付<br>
          <%= raw sprintf(
            form.datetime_select(
              :start_time,
              use_month_numbers: true,
              date_separator: '%s',
              datetime_separator: '%s'),
              '年 ', '月 ' , '日') %>
        </div>
        <div class="record-menu" >
          体重<br>
          <%= form.text_area :weight %>
        </div>
        <div class="record-menu" >
          画像<br>
          <%= form.file_field :image %>
        </div>
        <div class="record-input" >
          <%= form.submit "登録" %>
        </div>
      <% end %>
    </div>
  </div>
</div>